PYTHON FUNCTIONS

In [1]:
fam = [1.73, 1.68, 1.71, 1.89]
print(type(fam))

<class 'list'>

In [2]:
fam = [1.73, 1.68, 1.71, 1.89]
print(max(fam))

1.89

In [3]:
fam = [1.73, 1.68, 1.71, 1.89]
print(min(fam))

1.68

In [4]:
fam = [1.73, 1.68, 1.71, 1.89]
print(len(fam))

4

In [5]:
fam = [1.73, 1.68, 1.71, 1.89]
print(sum(fam))

7.01

In [13]:
fam = [1.73, 1.68, 1.71, 1.89]           
print(round(sum(fam), 1))

7.0

In [23]:
Ranges_from_1_to_12 = list(range(1, 12, 3))

In [31]:
list(range(10))
range_me = range(10, 101, 2)

In [32]:
range_example = range(5, 100, 10)
print(list(range_example))

[5, 15, 25, 35, 45, 55, 65, 75, 85, 95]

In [37]:
help(type)

Help on class type in module builtins:

class type(object)
 |  type(object_or_name, bases, dict)
 |  type(object) -> the object's type
 |  type(name, bases, dict) -> a new type
 |
 |  Methods defined here:
 |
 |  __call__(self, /, *args, **kwargs)
 |      Call self as a function.
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __dir__(self, /)
 |      Specialized __dir__ implementation for types.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __instancecheck__(self, instance, /)
 |      Check if an object is an instance.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __sizeof__(self, /)
 |      Return memory consumption of the type object.
 |
 |  __subclasscheck__(self, subclass, /)
 |      Check if a class is a subclass.
 |
 |  __subclasses__(self, /)
 |      Return a list of immediate subclasses.
 |
 |  mro(self, /)
 |      Return a type's method resolution order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __prepare__(...)
 |      __prepare__() -> dict
 |      used to create the namespace for the class statement
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __abstractmethods__
 |
 |  __dict__
 |
 |  __text_signature__
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __base__ = <class 'object'>
 |      The base class of the class hierarchy.
 |
 |      When called, it accepts no arguments and returns a new featureless
 |      instance that has no instance attributes and cannot be given any.
 |
 |  __bases__ = (<class 'object'>,)
 |
 |  __basicsize__ = 880
 |
 |  __dictoffset__ = 264
 |
 |  __flags__ = 2148291584
 |
 |  __itemsize__ = 40
 |
 |  __mro__ = (<class 'type'>, <class 'object'>)
 |
 |  __weakrefoffset__ = 368

METHODS

In [48]:
# First Method
text = "hello world"
print(text.upper())


# Second Method
text = "hello world"
uppercase_text = text.upper()
print(uppercase_text)

HELLO WORLD
HELLO WORLD

In [45]:
text = "hello WORLD"
capitalized_text = text.capitalize()
print(capitalized_text)

Hello world

In [ ]:
fam = ['liz', 1.73,'emma', 1.68,'mom', 1.71,'dad', 1.89, 1.68, 1.68]
print(fam.index("mom"))

4
3

In [55]:
fam = ['liz', 1.73,'emma', 1.68,'mom', 1.71,'dad', 1.89, 1.68, 1.68]
(fam.count(1.68))

3

In [54]:
sister = 'Liz'
sister.replace("z", "sa")

'Lisa'

In [68]:
fam = ['liz', 1.73,'emma', 1.68,'mom', 1.71,'dad', 1.89, 1.68, 1.68]
fam.append("me")
print(fam)

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89, 1.68, 1.68, 'me']

In [67]:
fruits = ['apple', 'banana', 2]
fruits.append('orange')
print(fruits)

['apple', 'banana', 2, 'orange']

In [70]:
fam = ['liz', 1.73,'emma', 1.68,'mom', 1.71,'dad', 1.89, 1.68, 1.68]
fam2 = ['liz', 1.73,'emma', 1.68,'mom', 1.71,'dad', 1.89, 1.68, 1.68]
fam + fam2

['liz',
 1.73,
 'emma',
 1.68,
 'mom',
 1.71,
 'dad',
 1.89,
 1.68,
 1.68,
 'liz',
 1.73,
 'emma',
 1.68,
 'mom',
 1.71,
 'dad',
 1.89,
 1.68,
 1.68]

In [73]:
list1 = [1, 2, 3]
list2 = [4, 5]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}
merged = a.union(b)
print(merged)

{1, 2, 3, 4, 5}

In [2]:
fa = 5
ba = 6
ca = 7

In [3]:
da = fa * ba
print(da)

30

In [1]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [ ]:
# Create a new tuple with the value "orange", and add that tuple:

thistuple = ("apple", "banana", "cherry")
y = ("orange",) # Note: When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

Remove Items
Note: You cannot remove items in a tuple.

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items

In [6]:
# Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

Or you can delete the tuple completely:

In [7]:
# The del keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined