PYTHON FUNCTIONS

## print statement
It is used output the result in a variable

In [24]:
print("Hello, World!")

Hello, World!

## Variables
These are where values are stored

In [25]:
a = 10
b = 7
f = a * b
print(f)

70

# Python Indentation

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [26]:
# Example
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

## Comments

Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will render the rest of the line as a comment:

In [27]:
# what each values stands for
a = 10
b = 7
c = 5
d = 8

"""
cccccccccccccccccccccccccccc
vvvvvvvvvvvvvvvvvvvvvvvvvvvv
bbbbbbbbbbbbbbbbbbbbbbbbbbb
qqqqqqqqqqqqqqqqqqqqqqqqqqq
"""


# The mathematical calculations
f = a * b
g = a * b * d

# To get the output
print(f)
print(g)

70
560

# Creating Vaiables

In [28]:
x = 6
y = 'Seun'
print(x)
print(y)

6
Seun

# Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

Rules for Python variables:

- A variable name must start with a letter or the underscore character

- A variable name cannot start with a number

- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

- Variable names are case-sensitive (age, Age and AGE are three different variables)

- A variable name cannot be any of the Python keywords.

In [29]:
# Example

# Legal variable names:

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [30]:
# Example

# Illegal variable names:

2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (2641585356.py, line 5)

## Multi Words Variable Names

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

`Camel Case`

Each word, except the first, starts with a capital letter:

myVariableName = "John"

`Pascal Case`

Each word starts with a capital letter:

MyVariableName = "John"

`Snake Case`

Each word is separated by an underscore character:

my_variable_name = "John"

- Remember that variable names are case-sensitive

## Python Variables - Assign Multiple Values

Many Values to Multiple Variables

Python allows you to assign values to multiple variables in one line:

In [ ]:
# Example
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

- Note: Make sure the number of variables matches the number of values, or else you will get an error.

## One Value to Multiple Variables

And you can assign the same value to multiple variables in one line:

In [ ]:
# Example
x = y = z = "Orange"

print(x)
print(y)
print(z)

Orange
Orange
Orange

## Unpack a Collection

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [ ]:
# Example
# Unpack a list:

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

banana
apple
cherry

## Python - Output Variables

Output Variables

- The Python print() function is often used to output variables.

In [ ]:
# Example
x = "Python is awesome"
print(x)

Python is awesome

- In the print() function, you output multiple variables, separated by a comma:

In [ ]:
# Example
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

You can also use the + operator to output multiple variables:

In [ ]:
# Example
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

- Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

## Python Data Types

Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

**Text Type:	str**

**Numeric Types:	int, float, complex**

**Sequence Types:	list, tuple, range**

**Mapping Type:	dict**

**Set Types:	set, frozenset**

**Boolean Type:	bool**

**Binary Types:	bytes, bytearray, memoryview**

**None Type:	NoneType**

### Getting the Data Type

You can get the data type of any object by using the type() function:

In [ ]:
# Example

# Print the data type of the variable x:

a = 4
b = 5.86
c = 'John'
d = True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## Python Numbers

There are three numeric types in Python:

- int
- float
- complex

Variables of numeric types are created when you assign a value to them:

### To verify the type of any object in Python, use the type() function:

In [ ]:
# Example

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
# Example
x = 1    # int
y = 2.8  # float
z = 1j   # complex

### Int

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [32]:
# Example

# Integers:

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

### Float

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [ ]:
# Example

# Floats:

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

**Float can also be scientific numbers with an "e" to indicate the power of 10.**

In [ ]:
# Example

# Floats:

x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### Complex

Complex numbers are written with a "j" as the imaginary part:

In [ ]:
# Example

# Complex:

x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

## Type Conversion

You can convert from one type to another with the int(), float(), and complex() methods:

In [39]:

# Example

# Convert from one type to another:

x = 1    # int
y = 2.8353  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**Note: You cannot convert complex numbers into another number type.**

## Random Number

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [58]:
# Example

# Import the random module, and display a random number from 1 to 9:

import random

print(random.randrange(1, 10))

3

In [ ]:
fam = [1.73, 1.68, 1.71, 1.89]
print(type(fam))

<class 'list'>

In [ ]:
fam = [1.73, 1.68, 1.71, 1.89]
print(max(fam))

1.89

In [ ]:
fam = [1.73, 1.68, 1.71, 1.89]
print(min(fam))

1.68

In [ ]:
fam = [1.73, 1.68, 1.71, 1.89]
print(len(fam))

4

In [ ]:
fam = [1.73, 1.68, 1.71, 1.89]
print(sum(fam))

7.01

In [ ]:
fam = [1.73, 1.68, 1.71, 1.89]           
print(round(sum(fam), 1))

7.0

In [ ]:
Ranges_from_1_to_12 = list(range(1, 12, 3))

In [ ]:
list(range(10))
range_me = range(10, 101, 2)

In [ ]:
range_example = range(5, 100, 10)
print(list(range_example))

[5, 15, 25, 35, 45, 55, 65, 75, 85, 95]

In [ ]:
help(type)

Help on class type in module builtins:

class type(object)
 |  type(object_or_name, bases, dict)
 |  type(object) -> the object's type
 |  type(name, bases, dict) -> a new type
 |
 |  Methods defined here:
 |
 |  __call__(self, /, *args, **kwargs)
 |      Call self as a function.
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __dir__(self, /)
 |      Specialized __dir__ implementation for types.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __instancecheck__(self, instance, /)
 |      Check if an object is an instance.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __sizeof__(self, /)
 |      Return memory consumption of the type object.
 |
 |  __subclasscheck__(self, subclass, /)
 |      Check if a class is a subclass.
 |
 |  __subclasses__(self, /)
 |      Return a list of immediate subclasses.
 |
 |  mro(self, /)
 |      Return a type's method resolution order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __prepare__(...)
 |      __prepare__() -> dict
 |      used to create the namespace for the class statement
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __abstractmethods__
 |
 |  __dict__
 |
 |  __text_signature__
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __base__ = <class 'object'>
 |      The base class of the class hierarchy.
 |
 |      When called, it accepts no arguments and returns a new featureless
 |      instance that has no instance attributes and cannot be given any.
 |
 |  __bases__ = (<class 'object'>,)
 |
 |  __basicsize__ = 880
 |
 |  __dictoffset__ = 264
 |
 |  __flags__ = 2148291584
 |
 |  __itemsize__ = 40
 |
 |  __mro__ = (<class 'type'>, <class 'object'>)
 |
 |  __weakrefoffset__ = 368

METHODS

In [ ]:
# First Method
text = "hello world"
print(text.upper())


# Second Method
text = "hello world"
uppercase_text = text.upper()
print(uppercase_text)

HELLO WORLD
HELLO WORLD

In [ ]:
text = "hello WORLD"
capitalized_text = text.capitalize()
print(capitalized_text)

Hello world

In [ ]:
fam = ['liz', 1.73,'emma', 1.68,'mom', 1.71,'dad', 1.89, 1.68, 1.68]
print(fam.index("mom"))

4
3

In [ ]:
fam = ['liz', 1.73,'emma', 1.68,'mom', 1.71,'dad', 1.89, 1.68, 1.68]
(fam.count(1.68))

3

In [ ]:
sister = 'Liz'
sister.replace("z", "sa")

'Lisa'

In [ ]:
fam = ['liz', 1.73,'emma', 1.68,'mom', 1.71,'dad', 1.89, 1.68, 1.68]
fam.append("me")
print(fam)

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89, 1.68, 1.68, 'me']

In [ ]:
fruits = ['apple', 'banana', 2]
fruits.append('orange')
print(fruits)

['apple', 'banana', 2, 'orange']

In [ ]:
fam = ['liz', 1.73,'emma', 1.68,'mom', 1.71,'dad', 1.89, 1.68, 1.68]
fam2 = ['liz', 1.73,'emma', 1.68,'mom', 1.71,'dad', 1.89, 1.68, 1.68]
fam + fam2

['liz',
 1.73,
 'emma',
 1.68,
 'mom',
 1.71,
 'dad',
 1.89,
 1.68,
 1.68,
 'liz',
 1.73,
 'emma',
 1.68,
 'mom',
 1.71,
 'dad',
 1.89,
 1.68,
 1.68]

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}
merged = a.union(b)
print(merged)

{1, 2, 3, 4, 5}

In [ ]:
fa = 5
ba = 6
ca = 7

In [ ]:
da = fa * ba
print(da)

30

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [ ]:
# Create a new tuple with the value "orange", and add that tuple:

thistuple = ("apple", "banana", "cherry")
y = ("orange",) # Note: When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

Remove Items
Note: You cannot remove items in a tuple.

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items

In [ ]:
# Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

Or you can delete the tuple completely:

In [ ]:
# The del keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined