# SQL Joins

A JOIN clause is used to combine rows from two or more tables, based on a related column between them.

## Different Types of SQL JOINs
Here are the different types of the JOINs in SQL:

- (INNER) JOIN: Returns records that have matching values in both tables
- LEFT (OUTER) JOIN: Returns all records from the left table, and the matched records from the right table
- RIGHT (OUTER) JOIN: Returns all records from the right table, and the matched records from the left table
- FULL (OUTER) JOIN: Returns all records when there is a match in either left or right table

# SQL INNER JOIN

## INNER JOIN
The INNER JOIN keyword selects records that have matching values in both tables.

**Note: The INNER JOIN keyword returns only rows with a match in both tables.**

Syntax
```
SELECT column_name(s)

FROM table1

INNER JOIN table2

ON table1.column_name = table2.column_name;
```

### Naming the Columns
It is a good practice to include the table name when specifying columns in the SQL statement.

Example

**Specify the table names:**

SELECT Products.ProductID, Products.ProductName, Categories.CategoryName

FROM Products

INNER JOIN Categories ON Products.CategoryID = Categories.CategoryID;

- The example above works without specifying table names, because none of the specified column names are present in both tables. 
- If you try to include CategoryID in the SELECT statement, you will get an error if you do not specify the table name (because CategoryID is present in both tables).

# JOIN or INNER JOIN
JOIN and INNER JOIN will return the same result.

INNER is the default join type for JOIN, so when you write JOIN the parser actually writes INNER JOIN.

Example

**JOIN is the same as INNER JOIN:**
```
SELECT Products.ProductID, Products.ProductName, Categories.CategoryName

FROM Products

JOIN Categories 

ON Products.CategoryID = Categories.CategoryID;
```

### JOIN Three Tables

- Example
```
SELECT Orders.OrderID, Customers.CustomerName, Shippers.ShipperName

FROM ((Orders

INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID)

INNER JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID);
```

# SQL LEFT JOIN Keyword

The LEFT JOIN keyword returns all records from the left table (table1), and the matching records from the right table (table2). The result is 0 records from the right side, if there is no match.

LEFT JOIN Syntax
```
SELECT column_name(s)

FROM table1

LEFT JOIN table2

ON table1.column_name = table2.column_name;
```

**Note: In some databases LEFT JOIN is called LEFT OUTER JOIN.**