# SQL Joins

A JOIN clause is used to combine rows from two or more tables, based on a related column between them.

## Different Types of SQL JOINs
Here are the different types of the JOINs in SQL:

- (INNER) JOIN: Returns records that have matching values in both tables
- LEFT (OUTER) JOIN: Returns all records from the left table, and the matched records from the right table
- RIGHT (OUTER) JOIN: Returns all records from the right table, and the matched records from the left table
- FULL (OUTER) JOIN: Returns all records when there is a match in either left or right table

# SQL INNER JOIN

## INNER JOIN
The INNER JOIN keyword selects records that have matching values in both tables.

**Note: The INNER JOIN keyword returns only rows with a match in both tables.**

Syntax
```
SELECT column_name(s)

FROM table1

INNER JOIN table2

ON table1.column_name = table2.column_name;
```

### Naming the Columns
It is a good practice to include the table name when specifying columns in the SQL statement.

Example

**Specify the table names:**

SELECT Products.ProductID, Products.ProductName, Categories.CategoryName

FROM Products

INNER JOIN Categories ON Products.CategoryID = Categories.CategoryID;

- The example above works without specifying table names, because none of the specified column names are present in both tables. 
- If you try to include CategoryID in the SELECT statement, you will get an error if you do not specify the table name (because CategoryID is present in both tables).

# JOIN or INNER JOIN
JOIN and INNER JOIN will return the same result.

INNER is the default join type for JOIN, so when you write JOIN the parser actually writes INNER JOIN.

Example

**JOIN is the same as INNER JOIN:**
```
SELECT Products.ProductID, Products.ProductName, Categories.CategoryName

FROM Products

JOIN Categories 

ON Products.CategoryID = Categories.CategoryID;
```

### JOIN Three Tables

- Example
```
SELECT Orders.OrderID, Customers.CustomerName, Shippers.ShipperName

FROM ((Orders

INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID)

INNER JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID);
```

# SQL LEFT JOIN

The LEFT JOIN keyword returns all records from the left table (table1), and the matching records from the right table (table2). The result is 0 records from the right side, if there is no match.

LEFT JOIN Syntax
```
SELECT column_name(s)

FROM table1

LEFT JOIN table2

ON table1.column_name = table2.column_name;
```

**Note: In some databases LEFT JOIN is called LEFT OUTER JOIN.**

SQL LEFT JOIN Example

**The following SQL statement will select all customers, and any orders they might have:**

Example

```
SELECT Customers.CustomerName, Orders.OrderID

FROM Customers

LEFT JOIN Orders ON Customers.CustomerID = Orders.CustomerID

ORDER BY Customers.CustomerName;
```

**Note: The LEFT JOIN keyword returns all records from the left table (Customers), even if there are no matches in the right table (Orders).**

# SQL RIGHT JOIN

The RIGHT JOIN keyword returns all records from the right table (table2), and the matching records from the left table (table1). The result is 0 records from the left side, if there is no match.

RIGHT JOIN Syntax

```
SELECT column_name(s)

FROM table1

RIGHT JOIN table2

ON table1.column_name = table2.column_name;
```

**Note: In some databases RIGHT JOIN is called RIGHT OUTER JOIN.**

SQL RIGHT JOIN Example

**The following SQL statement will return all employees, and any orders they might have placed:**

Example

```
SELECT Orders.OrderID, Employees.LastName, Employees.FirstName

FROM Orders

RIGHT JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID

ORDER BY Orders.OrderID;
```

**Note: The RIGHT JOIN keyword returns all records from the right table (Employees), even if there are no matches in the left table (Orders).**

# SQL FULL OUTER JOIN

The FULL OUTER JOIN keyword returns all records when there is a match in left (table1) or right (table2) table records.

**Tip: FULL OUTER JOIN and FULL JOIN are the same.**

FULL OUTER JOIN Syntax
```
SELECT column_name(s)

FROM table1

FULL OUTER JOIN table2

ON table1.column_name = table2.column_name

WHERE condition;
```

**Note: FULL OUTER JOIN can potentially return very large result-sets!**

SQL FULL OUTER JOIN Example

**The following SQL statement selects all customers, and all orders:**

```
SELECT Customers.CustomerName, Orders.OrderID

FROM Customers

FULL OUTER JOIN Orders ON Customers.CustomerID=Orders.CustomerID

ORDER BY Customers.CustomerName;
```

**Note: The FULL OUTER JOIN keyword returns all matching records from both tables whether the other table matches or not.**
 
**So, if there are rows in "Customers" that do not have matches in "Orders", or if there are rows in "Orders" that do not have matches in "Customers", those rows will be listed as well.**

# SQL Self Join

A self join is a regular join, but the table is joined with itself.

Self Join Syntax

```
SELECT column_name(s)

FROM table1 T1, table1 T2

WHERE condition;
```

**T1 and T2 are different table aliases for the same table.**

SQL Self Join Example

**The following SQL statement matches customers that are from the same city:**

Example
```
SELECT A.CustomerName AS CustomerName1, B.CustomerName AS CustomerName2, A.City

FROM Customers A, Customers B

WHERE A.CustomerID <> B.CustomerID

AND A.City = B.City

ORDER BY A.City;
```