# SQL for Data Analytics
This comprehensive guide is designed to teach students the foundational and advanced concepts of SQL for data analytics. It includes detailed explanations of SQL data types, keys, terminologies, and practical use cases.

## ðŸ“˜ SQL Data Types
SQL data types define the kind of value a column can hold. Here's a breakdown of the most commonly used SQL data types:

### 1. Numeric Data Types
- `INT`, `INTEGER`: Whole numbers (e.g., 1, 100). Used when you donâ€™t need decimal places.
- `SMALLINT`, `TINYINT`, `BIGINT`: Variations for smaller or larger ranges of integers.
- `DECIMAL(p, s)`, `NUMERIC(p, s)`: Fixed-point numbers with precision `p` and scale `s`. Great for financial data.
- `FLOAT`, `REAL`, `DOUBLE`: Approximate floating-point values. Used for scientific calculations.

### 2. String Data Types
- `CHAR(n)`: Fixed-length string. Efficient when all entries are the same length.
- `VARCHAR(n)`: Variable-length string. Ideal for text fields like names, emails.
- `TEXT`: Large blocks of text. Use when length is unpredictable.

### 3. Date and Time Data Types
- `DATE`: Stores date (YYYY-MM-DD).
- `TIME`: Stores time (HH:MM:SS).
- `DATETIME`, `TIMESTAMP`: Combination of date and time.
- `YEAR`: Stores a year (e.g., 2025).
Use these types for logging activities, scheduling, etc.

### 4. Boolean Type
- `BOOLEAN`: Stores TRUE or FALSE values. Useful for binary states like is_active, is_deleted.

## ðŸ”‘ SQL Keys & Constraints
Keys ensure data integrity and enable relationships between tables.

- **Primary Key**: Uniquely identifies each row. Must be unique and not null.
- **Foreign Key**: Creates a link between tables. Must match a primary key in the referenced table.
- **Unique Key**: Ensures all values in a column are different.
- **Composite Key**: Combines multiple columns to create a unique key.
- **Not Null**: Ensures a column cannot have NULL values.
- **Check**: Enforces a condition on column values.
- **Default**: Assigns a default value if none is provided.

## ðŸ“Œ Common SQL Terminologies
- **DDL (Data Definition Language)**: CREATE, ALTER, DROP
- **DML (Data Manipulation Language)**: SELECT, INSERT, UPDATE, DELETE
- **DCL (Data Control Language)**: GRANT, REVOKE
- **TCL (Transaction Control Language)**: COMMIT, ROLLBACK, SAVEPOINT
- **Index**: Used to speed up retrieval. Acts like a book index.
- **View**: A virtual table based on the result of a query.
- **Stored Procedure**: SQL code that can be saved and reused.
- **Trigger**: SQL code executed automatically in response to events.

## ðŸ’¡ Use Cases & Examples
### Example: Creating a table for a sales database
```sql
CREATE TABLE Sales (
    SaleID INT PRIMARY KEY,
    ProductName VARCHAR(100),
    SaleDate DATE,
    Quantity INT,
    Price DECIMAL(10,2),
    CustomerID INT,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);
```
### Example: Querying with conditions
```sql
SELECT ProductName, Price FROM Sales
WHERE Quantity > 2 AND SaleDate > '2024-01-01';
```
### Example: Joining tables
```sql
SELECT Customers.Name, Sales.ProductName
FROM Customers
JOIN Sales ON Customers.CustomerID = Sales.CustomerID;
```